// reset style
/*null style*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    width: 100%;
    height: 100%;
    font-family:  'Source Sans Pro', sans-serif;
    color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}
.container {
    max-width: 1200px;
    padding: 0px ;
    margin: 0 auto;
    overflow: hidden;
}
// Header

.header {
    width: 100%;
    padding: 6px 0px;
    position: fixed;
    z-index: 50;
    

		// .header__body

		&__body {
            max-width: 100%;
            height: 60px;
            padding: 0;
            display: flex;
            justify-content:space-between;
		}

		// .header__logo

        &__logo img{
            display: block;
            width: 60px;
            
        }

		&__logo {
            width: 60px;
            height: 60px;
            background-color: #262627;
            margin-right: 48px;
		}

		// .header__burger

		&__burger {
            display: none;
		}

		// .header__menu

		&__menu {
            background-color: black;
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            
            li{
            display: inline-block;
            margin-right: 36px;
            font-size: 18px;
            line-height: 20px;
            }
		}

        
        &__link{
        color: #ffffff;

        }
        &__bth-buy{
            width: 215px;
            height: 40px;
            padding-top: 8px;
            
            background-color: #D400B3;
            align-self: center;
            text-align: center;
            
            font-family: 'Paytone One', sans-serif;
            font-size: 18px;
            line-height: 20px;
            .text-btn{
                color: #ffffff;
            }

        }

}

.about{
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #0D0D0E;
    
    
    &__image img{

        right: 0px;
    }
    &__image{
        max-width: 51.38%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .block{
        width: 658px;
        height: 100%;
        padding-top: 132px;
        font-size: 24px;
        color: #ffffff;
        position: relative;
        z-index: 2;
        
    
        .title{
            
            width: 658px;
            &__title{
            font-family:'Paytone One', sans-serif;
            font-size: 84px;
            line-height: 100px;
            }
            &__text{
                padding-top: 22px;
                margin-bottom: 100px;
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
    &__btn{
        width: 752px;
        height: 120px;
        background-color: #262627;
        padding-right: 214px;
        text-align: center;
        position: relative;
        margin-left: -311px;
        margin-top: 8px;
        transition-duration: 1.2s;
        z-index: 0;
        a{
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            color: #ffffff;
            font-family: 'Paytone One', sans-serif;
            font-size: 32px;
            line-height: 44px;
            align-items: center;
            justify-content:flex-end
            
        }
        .about__btn-icon{
            width: 42px;
            margin: 13px;
        }
    }
    &__btn:hover{
        margin-left: -52px;
        transition-duration: 2.2s;
    }

}
.statistic{
    width: 100%;
    height: 490px;
    background-color: #262627;
    display: flex;
    align-items: center;
    &__body{
        display: flex;
        justify-content: space-between;

    }
    &__item{
        flex: 0 1 510px;
        font-size: 20px;
        line-height: 32px;
    }
    
    
    .numbers-info{
        flex: 0 1 510px;
        display: flex;
        justify-content: space-around;
        text-align: center;

        .number{
            font-family: 'Paytone One', sans-serif;
            font-size: 56px;
            line-height: 56px;
            margin-bottom: 11px;
            
        }
    }
}
.galery {    
    width: 100%;
    background-color: #262627;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    // .galery__row-1

    &__row-1 {
        width: 1584px;
        margin-right: 145px;
        display: flex;
        padding: 16px 0px;
        transition-duration: 3.2s;
        
    }
    &__row-1:hover{
        margin-right:0px ;
        margin-left: 190px;
        transition-duration: 0.4s;
    }

    // .galery__row-2

    &__row-2 {
        width: 1584px;
        margin-right: -145px;
        display: flex;
        padding: 16px 0px;
        transition-duration: 3.2s;
        
    }
    &__row-2:hover{
        margin-right:0px ;
        margin-left: -190px;
        transition-duration: 0.4s;
    }
    &__item{
        padding: 24px;
        transform: scale(1);
    }
    &__item:hover{
        padding-top: 0px;
        transform: scale(1.1);
        transition-delay: 1s;
        transition: transform .2s;
    }

}

.create-nft {

    // .create-nft__title

    &__title {
    }

    // .create-nft__row

    &__row {
    }

    // .create-nft__item

    &__item {
    }
}
.trending-weak {

    // .trending-weak__body

    &__body {
    }

    // .trending-weak__column

    &__column {
    }

    // .trending-weak__item

    &__item {
    }
}
