// reset style
/*null style*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    width: 100%;
    height: 100%;
    font-family:  'Source Sans Pro', sans-serif;
    color: #ffffff;
}

.wrapper {
    
    
}
.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
// Header

.header {
    width: 100%;
    padding: 6px 0px;
    position: fixed;
    z-index: 50;
    

		// .header__body

		&__body {
            margin: 0 auto;
            width: 100%;
            height: 60px;
            padding: 0;
            display: flex;
            justify-content:space-between;
		}

		// .header__logo

        &__logo img{
            display: block;
            width: 60px;
            
        }

		&__logo {
            width: 60px;
            height: 60px;
            background-color: gray;
            margin-right: 48px;
		}

		// .header__burger

		&__burger {
            display: none;
		}

		// .header__menu

		&__menu {
            width: auto;
            height: 100%;
            display: flex;
            align-items: center;
            
            li{
            display: inline-block;
            margin-right: 36px;
            font-size: 18px;
            line-height: 20px;
            }
		}

        
        &__link{
        color: #ffffff;

        }
        &__bth-buy{
            width: 215px;
            height: 40px;
            padding-top: 8px;
            
            background-color: #D400B3;
            align-self: center;
            text-align: center;
            
            font-family: 'Paytone One', sans-serif;
            font-size: 18px;
            line-height: 20px;
            .text-btn{
                color: #ffffff;
            }

        }

}

.about{
    position: relative;
    background-color: #0D0D0E;
    &__image img{
        max-width: 100%;
    }
    &__image{
        max-width: 55%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .block{
        width: 658px;
        height: 100%;
        padding-top: 132px;
        font-size: 24px;
        color: #ffffff;
        position: relative;
        z-index: 2;
        
    
        .title{
            width: 658px;
            &__title{
            font-family:'Paytone One', sans-serif;
            font-size: 84px;
            }
            &__text{
                padding-top: 22px;
                margin-bottom: 99px;
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
    &__btn{
        width: 752px;
        height: 120px;
        text-align: center;
        position: relative;
        margin-left: -52px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            color: #ffffff;
            font-family: 'Paytone One', sans-serif;
            font-size: 32px;
            line-height: 44px;
            align-items: center;
            justify-content: space-around;
            
        }
    }
    &__btn:hover{
        margin-left: 0px;
    }

}